<header>
  <h1> Make A New Rental</h1>
</header>

<div class="col-sm-offset-4">
<form class ="form-horizontal" action="<%= cat_rental_requests_url  %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <div class ="form-group">
    <label for="cat_id" class="col-sm-2">Cat</label>
    <div class="col-sm-10">
      <select name="cat_rental_request[cat_id]" id="cat_id">
        <option selected="selected" value=''></option>
        <% @cats.each do |cat| %>
          <option value="<%=cat.id %>"> <%= cat.name %> </option>
        <% end %>
      </select>
    </div>
  </div>

  <div class ="form-group">
    <label for="start_date" class="col-sm-2">Start Date: </label>
    <div class="col-sm-10">
      <input type="date" name="cat_rental_request[start_date]" id="start_date">
    </div>
  </div>


  <div class ="form-group">
    <label for="end_date" class="col-sm-2">End Date: </label>
    <div class="col-sm-10">
      <input type="date" name="cat_rental_request[end_date]" id="end_date">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="Send cat request">
    </div>
  </div>
</form>
</div>
