.tabs > .active {
  font-weight: bold;
}

div.tab-pane {
  display: none;
}

div.tab-pane.active {
  display: block;
}

.transitioning {
  display: block;
  opacity: 0;
  transition: opacity 500ms;
  transition-timing-function: ease linear;
}
