<form action="/session" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="email">Username</label>
  <input type='text'  name="user[email]" id="email" >

  <label for='password'>Password</label>
  <input type='password' name="user[password]" id="password">

  <input type='submit' value="Log in">


</form>