<label for='title'>Title:</label>
  <input type='text' name='post[title]' id='title' value="<%= post.get('title') %>"><br>
  <label for='body'>Body:</body>
  <textarea name='post[body]' id='body' ><%= post.get('body') %></textarea><br>
  <input type='submit' value='Create Post'>
