<label for='username'>Username:</label>
<input type='text' name='user[username]' id='username' value='<%= user.username %>' >

<label for='password'>Password:</label>
<input type='password' name='user[password]' id='password'>

<input type='submit' value='Submit'>
