<form action="/session" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="user_name">Username</label>
  <input type='text'  name="user[user_name]" id="user_name" >

  <label for='password'>Password</label>
  <input type='password' name="user[password]" id="password">

  <input type='submit' value="Submit">


</form>
