<h2>Add a New Board</h2>
<form>
<label for="title">Title:</label>
<input type='text' name="board[title]" id='title' value='<%=board.title %>'>

<input type='submit' class='submit' value='Submit'>
</form>