 <h1>Add a Comment</h1>

 <form action="<%= comments_url %>" method = "POST">
  
   <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

   <label id="comment">Comment:</label>
   <textarea rows="4" cols="50" id="comment" name="comment[content]"></textarea>

   <input type="submit" value="Submit">

 </form>
